.paperInfo {
    width: 100%;
}

.paper {
    height: 500;
    width: 500;
}

.root {
  flexGrow: 1;
}

.footer-grid{
background-color: black;
}

.container {
  maxHeight: 440;
}

.mainSection {
  padding:  0px 50px 50px 50px;
}

.chartMain {
  padding: 0;
}

.card:hover {
  box-shadow: 5px 5px 10px #000;
}

.card{
  padding: 28px;
}


